<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">
    <link type="application/rss+xml" rel="alternate" title="CODE4FUN posts" href="/rss.xml">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{{ assets }}}

  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <header class="header">
      {{ site.title }}
    </header>
    <nav>
      {{# site.navigation?to_pages }}
        {{> pages_list }}
      {{/ site.navigation?to_pages }}
    </nav>
    <article class="main">
        {{{ content }}}
    </article>
    <footer>
      Copyright &copy; 2014 {{ site.author.name }} &#8226; <a href='https://plus.google.com/u/0/101202661005324839860?rel=author' rel='me'>Google+</a> &#8226; Hosted by <a href='http://github.com/prisoner/prisoner.github.com/' target='_blank'>GitHub</a> &#8226; powered by <a href='https://github.com/wendal/gor'>gor</a>
    </footer>
    {{{ google_prettify }}}
  </body>
</html>
