.col-left {
  width:0px !important;
}

.col-right {
  margin-left: 0 !important;
}

.feed-stream-header {
  display: none !important;
}

.feeditem-list .feeditem-feedtitle {
  width: 100px !important;
}

.feeditem-description {
  color: #333333 !important;
}

.feeditem-list {
  border-top: 1px solid #ddd !important;
  clear: left;
  position: relative;
  font-size: 1.2em !important;
}

.feeditem-list .story-data {
  margin-right: 200px !important;
}

.story-score {
  display: none !important;
}

.feeditem-list .story-actions-container {
  width: 200px !important;
}

.feeditem-list .feeditem-fuzzytime {
  margin-left: 20px !important;
  margin-right: 100px !important;
}

.story-detail-content {
  width: 100% !important;
  margin: 0px !important;
}

.view-add {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 90px !important;
  height: 53px;
  background-color: #eee;
  border-top: 1px solid #ccc;
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.06);
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.06);
  z-index: 2000 !important;
}

.site-header-logo-container a {
  background-image: none !important;
}

.tooltip-subscription-add {
  position: absolute !important;
  margin: 0px !important;
  width: 500px !important;
  
}

.tooltip-subscription-add .tooltip-list-item.tooltip-list-input input {
  width: 500px !important;
}

