body, button, input, select, textarea {
  font-size: 1em;
  font-family: Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  margin: 0 1em;
}

hr {
  margin: 1em 0;
}

blockquote {
  background: url("/images/blockquote-l.png") no-repeat scroll 0 0 transparent;
  color: #666666;
  padding-left: 40px;
}

.content > table {
  border-spacing: 0;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.content > table td, .content > table th {
  border-bottom: 1px solid #dddddd;
  padding: 0.5em;
  border-left: 1px solid #dddddd;
}

.header {
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: 1.5em;
}

nav {
  border-bottom: 1px dashed #666666;
  font-size: 1.2em;
}

.title {
  font-size: 2em;
  border-bottom: 2px solid #666;
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.2em;
}

.arel {
  margin-top: 2em;
  border-top: 1px dashed #666666;
}

footer {
  text-align: right;
  border-top: 1px dashed #666666;
  margin-top: 15px;
  margin-right: 10px;
}