body, button, input, select, textarea {
  font: 500 0.875em/1.8 Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}


nav {
  border-bottom: 1px dashed #666666;
  border-top: 1px dashed #666666;
  font-size: 1.2em;
  padding-left: 5px;
}

.b_title {
  color: #558833;
  font-size: 2em;
  text-align: center;
}

.main {
  margin:10px;
}

header {
  font-size: 1.8em;
}

.list {
  margin-left: 40px;
}

.a_date {
  color: #666666;
  font-style: italic;
}

.a_rel {
  margin-top:20px;
  border-top: 1px dashed #666666;
}

.content {
  color: black;
}

.a_title {
  border-bottom: 1px solid #CCCCCC;
  font-size: 2em;
  line-height: normal;
  margin: 0;
  padding: 0.08em 0 0;
}

p {
    margin: 1em 0;
}

pre, code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

blockquote {
  background: url("/images/blockquote-l.png") no-repeat scroll 0 0 transparent;
  color: #666666;
  padding-left: 40px;
}

td, th {
  border: 1px solid #666666;
  padding: 2px;
}

.content code, .content tt {
  background-color: #F8F8F8;
  border: 1px solid #DEDEDE;
  border-radius: 3px 3px 3px 3px;
  font-size: 13px;
  padding: 0;
}

.content h2 {
  border-top: 4px solid #CCCCCC;
  font-size: 22px;
  line-height: normal;
  margin: 22px 0 0;
  padding: 7px 0 0;
}

.content h3 {
  font-size: 16px;
  line-height: 26px;
  padding: 26px 0 0;
}

.content ul, .content ol {
  margin-left: 2.6em;
  margin-top: 1.5em;
}

.content > pre, .content > div.highlight {
  margin: 20px 0 0;
}

.content .highlight pre, .content pre {
  background-color: #F8F8F8;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
}

footer {
  border-top: 1px dashed #666666;
  margin-top: 15px;
  margin-right: 10px;
}
