.post.listview {
  margin-bottom: 3px;
  font-size: 15px;
  margin: 5px 0;
  background: #fff;
}

.post {
  border: none !important;
  border-bottom: 2px solid #d2d9dd !important;
  border-radius:none !important;
}

.post.listview .header .name .label {
  background-color: #fff;
  color: gray;
}
